/* color scheme - http://www.wellstyled.com/tools/colorscheme2/index-en.html?analog;28;0;144;0.4193548387096774;0.7294117647058823;0.4193548387096774;0.5105882352941176;0.10483870967741934;1;0.2096774193548387;1;0.4193548387096774;0.7294117647058823;0.4193548387096774;0.5105882352941176;0.10483870967741934;1;0.2096774193548387;1;0.4193548387096774;0.7294117647058823;0.4193548387096774;0.5105882352941176;0.10483870967741934;1;0.2096774193548387;1;0.4193548387096774;0.7294117647058823;0.4193548387096774;0.5105882352941176;0.10483870967741934;1;0.2096774193548387;1;0 */

html {
    background-color: #EEFFCA;
}

body {
    line-height: 1.3em;
}

#doc4 {
    background-color: white;
}

#hd, #bd, #ft {
    /* yui base defaults to relatively small fonts, putting this in
       the body or #doc4 selector destroys the yui layout */
    font-size: 120%;
}

#hd {
    background-color: #A1BA6C;
}

#global-nav {
    display: inline;
    float: right;
    font-size: 80%;
}

#global-nav li {
    display: inline;
    list-style: none;
}

#global-nav li a {
    color: white;
    padding-left: 0.5em;
}

#local-nav {
    padding-left: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 2em;
    background-color: #A1BA6C;
}

#summary {
    background-color: #FAFFCA;
    padding: 1em;
    margin-bottom: 0.5em;
    margin-right: 2em;
}

#summary h1 {
    margin: 0;
}

#bd {
    padding-top: 5px;
}

#ft {
    text-align: center;
    font-size: 90%;
    padding: 2em 0.5em;
    background-color: #777;
    color: white;
}

fieldset {
    border-top: 1px solid #A1BA6C;
    padding: 0.5em;
    padding-bottom: 1em;
    margin-right: 2em;
    background-color: #F6FFE4;
}

fieldset.last {
    padding-bottom: 0;
}

fieldset legend {
    padding: 0.4em;
    background-color: #A1BA6C;
    color: white;
    font-weight: bold;
}

div.form-item {
    margin-bottom: 0.4em;
}

div.form-error {
    margin-top: 0.3em;
    padding: 0.1em;
    border: 1px solid #08B000;
}

form div.form-item { 
    clear: both;
    padding: 0.1em 0;
}

/* Having the help-text div allows us to set the margin in ems, to
   match the width of the label tag. Without the div, we'd have to set
   the margin on the p tag, but this has a different font-size than
   the label, so the em size is not the same. */
form div.form-item div.help-text { 
    margin-top: 0.1em;
    margin-left: 9.5em;
}

form div.form-item div.help-text p {
    font-size: 85%;
    margin-bottom: 0em;
}

form .for-field {
    display: block;
    float: left;
    font-weight: bold;
    text-align: right;
    margin-right: 0.5em;
    margin-top: 0.3em;
    width: 9em;
}

form label.secondary {
    display: block;
    float: left;
    text-align: right;
    margin-right: 0.5em;
    margin-top: 0.3em;
    width: 9em;
}

form .no-label {
    margin-left: 9.5em;
}

form label.for-radio {
    margin-right: 0.5em;
    color: #777;
}

form label.selected {
    color: black;
}

form input.checkbox {
    margin-top: 0.4em;
}

form a.add-another {
    font-size: 90%;
}

div.radio-group {
    margin-top: 0.4em;
}

input.text,
input.file,
textarea,
select {
  padding: 0.2em;
  font-weight: bold;

  color: #5B824C;
  border: 1px solid #5B824C;
}

div.text-for-hidden {
    padding: 0.2em;
    font-weight: bold;
    color: #5B824C;

    line-height: 1.2em;
}

input.error,
textarea.error,
select.error,
p.error {
  background-color: #FFCC66;
}

input.disabled,
textarea.disabled,
select.disabled {
  background-color: #CCC;
  border-color: #333;
}

input:focus,
textarea:focus,
select:focus {
  border-color: black;
  background-color: #FAFFCA;
}

input.narrow {
  width: 7em;
}

input.medium {
  width: 18em;
}

input.wide, textarea.wide {
  width: 30em;
}

textarea {
  height: 7em;
}

textarea.short {
  height: 3.7em;
}

textarea.tall {
  height: 10em;
}

input.submit {
  padding: 0.1em;

  color: white;

  font-weight: bold;

  background-color: #5B824C;

  border-top: 1px solid #D9FFCA;
  border-left: 1px solid #D9FFCA;
  border-bottom: 2px solid #39602A;
  border-right: 2px solid #39602A;

  margin-top: 0.5em;
}
