/* color scheme - http://www.wellstyled.com/tools/colorscheme2/index-en.html?analog;28;0;144;0.4193548387096774;0.7294117647058823;0.4193548387096774;0.5105882352941176;0.10483870967741934;1;0.2096774193548387;1;0.4193548387096774;0.7294117647058823;0.4193548387096774;0.5105882352941176;0.10483870967741934;1;0.2096774193548387;1;0.4193548387096774;0.7294117647058823;0.4193548387096774;0.5105882352941176;0.10483870967741934;1;0.2096774193548387;1;0.4193548387096774;0.7294117647058823;0.4193548387096774;0.5105882352941176;0.10483870967741934;1;0.2096774193548387;1;0 */

html {
    background-color: #EEFFCA;
}

body {
    line-height: 1.6em;
    font-family: sans-serif;
}

#doc3 {
    background-color: white;
}

#hd, #bd, #ft {
    /* yui base defaults to relatively small fonts, putting this in
       the body or #doc4 selector destroys the yui layout */
    font-size: 120%;
}

#hd {
    background-color: #A1BA6C;
}

#global-nav {
    display: inline;
    float: right;
    font-size: 80%;
}

#global-nav li {
    display: inline;
    list-style: none;
}

#global-nav li a {
    color: white;
    padding-left: 0.5em;
}

#messages {
    font-size: 90%;
    background-color: #FFFFD9;
}

#content {
    background-color: white;
    padding: 0.5em;
}

#local-nav {
    padding-left: 0.5em;
    padding-top: 0.5em;
    background-color: #FCFFE4;
    border-right: 1px solid #777;
    border-bottom: 1px solid #777;
}

#summary h1 {
    margin: 0.2em 0 1em 0;
}

#ft {
    text-align: center;
    font-size: 90%;
    padding: 2em 0.5em;
    background-color: #777;
    color: white;
}

fieldset {
    border-top: 1px solid #A1BA6C;
    padding: 0.5em;
    padding-bottom: 1em;
    margin-right: 2em;
    background-color: #F6FFE4;
}

fieldset.last {
    padding-bottom: 0;
}

fieldset legend {
    padding: 0.4em;
    background-color: #A1BA6C;
    color: white;
    font-weight: bold;
}

form div.form-error {
    margin: 0.3em 2em 0.3em 0;
    padding: 0.3em;
    border: 1px solid black;
}

form div.form-error p {
    margin: 0.1em 0;
}

form div.form-error, form div.error {
    background-color: #FCC841;
}

form div.error {
    margin-top: 2px;
}

form div.error p.error-message {
    margin-left: 12.5em;
    margin-bottom: 0.1em;
}

form div.error p span {
    font-size: 85%;
}

form div.form-item { 
    clear: both;
    padding: 0.1em 0 0.4em 0;
}

/* Having the help-text div allows us to set the margin in ems, to
   match the width of the label tag. Without the div, we'd have to set
   the margin on the p tag, but this has a different font-size than
   the label, so the em size is not the same. */
form div.form-item div.help-text { 
    margin-top: 0.1em;
    margin-left: 12.5em;
    clear: both;
}

form div.help-text p {
    font-size: 85%;
    margin-bottom: 0em;
}

form label {
    font-weight: bold;
}

form .for-field {
    display: block;
    float: left;
    text-align: right;
    margin-right: 0.5em;
    width: 12em;
}

form label.secondary {
    display: block;
    float: left;
    font-weight: normal;
    text-align: right;
    margin-right: 0.5em;
    width: 12em;
}

form div.no-label {
    margin-left: 12.5em;
}

form input.no-label {
    display: block;
    margin-bottom: 0.2em;
}

form label.for-radio {
    margin-right: 0.5em;
    color: #777;
}

form label.for-checkbox {
    font-weight: normal;
}

form label.selected {
    color: black;
}

form input.checkbox {
    margin-top: 0.4em;
}

form a.add-another {
    font-size: 90%;
}

input.text,
input.file,
textarea,
select {
  margin-top: -0.1em;
  padding: 0.2em;
  font-weight: bold;

  color: #5B824C;
  border: 1px solid #5B824C;
}

span.text-for-hidden {
    font-weight: bold;
    color: #5B824C;
}

input.error,
textarea.error,
select.error,
p.error {
  background-color: #FFCC66;
}

input.disabled,
textarea.disabled,
select.disabled {
  background-color: #CCC;
  border-color: #333;
}

input.text:focus,
textarea:focus,
select:focus {
  border-color: black;
  background-color: #FAFFCA;
}

input.narrow {
  width: 7em;
}

input.medium {
  width: 18em;
}

input.wide, textarea.wide {
  width: 30em;
}

textarea {
  height: 7em;
}

textarea.short {
  height: 3.7em;
}

textarea.tall {
  height: 10em;
}

input.submit {
  padding: 0.1em;

  color: white;

  font-weight: bold;

  background-color: #5B824C;

  border-top: 1px solid #D9FFCA;
  border-left: 1px solid #D9FFCA;
  border-bottom: 2px solid #39602A;
  border-right: 2px solid #39602A;

  margin-top: 0.5em;
}

#member-search {
    margin-left: 12.5em;
}

#member-search-empty {
    margin-top: 0.5em;
}

#member-search-results {
    margin: 0.5em 10em 0 0;
    padding: 0.5em;
    border: 1px solid black;
    background-color: lightyellow;
}

#member-search-results-close {
    float: right;
}

#member-search-results-table,
#member-search-selected-table {
    border: none;
    margin-bottom: 0;
}

#member-search-selected-table {
    margin-top: 0.5em;
}

#member-search-results-table td,
#member-search-results-table th,
#member-search-selected-table td,
#member-search-selected-table th {
    border: none;
    text-align: left;
}

#member-search-results-table td.name,
#member-search-selected-table td.name {
    width: 10em;
}

#member-search-results-table td.position,
#member-search-selected-table td.position {
    width: 12em;
}

#member-search-results-table td.button,
#member-search-selected-table td.button {
    width: 7em;
}

#summary.has-image {
    min-height: 110px;
}

#contact-image {
    float: right;
}

.address-notes, .phone-number-notes {
    font-style: italic;
}