$body-text-color: #222;

$light-gray: #f9f9f9;
$medium-gray: #999;
$dark-gray: #555;
$super-light-green: #f6ffe4;
$light-green: #eeffca;
$medium-green: #a1ba6c;
$dark-green: #5b824c;
$orange: #ff7400;
$light-yellow: #ffffd9;
$error-orange: #fcc841;
$brown: #8f5139;

$medium-green-border-light: $medium-green + #555;
$medium-green-border-dark:  $medium-green - #222;

$dark-green-border-light: $dark-green + #555;
$dark-green-border-dark:  $dark-green - #222;

$orange-border-light: $orange + #555;
$orange-border-dark:  $orange - #222;

@mixin rounded-corners-top ($radius) {
    border-radius-topleft: $radius;
    border-radius-topright: $radius;
    -moz-border-radius-topleft: $radius;
    -moz-border-radius-topright: $radius;
    -webkit-border-radius-topleft: $radius;
    -webkit-border-radius-topright: $radius;
}

@mixin rounded-corners-bottom ($radius) {
    border-radius-bottomleft: $radius;
    border-radius-bottomright: $radius;
    -moz-border-radius-bottomleft: $radius;
    -moz-border-radius-bottomright: $radius;
    -webkit-border-radius-bottomleft: $radius;
    -webkit-border-radius-bottomright: $radius;
}

@mixin rounded-corners-both ($radius) {
    @include rounded-corners-top($radius);
    @include rounded-corners-bottom($radius);
}

@mixin gradient ($from, $to, $start: 0%, $end: 100%) {
    /* browsers which don't support gradients */
    background: $from;

    /* firefox */
    background: -moz-linear-gradient($from $start, $to $end);

    /* webkit */
    background: -webkit-gradient(linear, left top, left bottom, color-stop($start, $from), color-stop($end, $to));

    /* ie */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$from}', endColorstr='#{$to}', GradientType=0);
}

html {
    background-color: $light-gray;
}

body {
    color: $body-text-color;
    font-family: Verdana, Arial, sans-serif;
    line-height: 1.6em;
    margin: auto;
    width: 960px;
}

#page {
    background-color: white;
    font-size: 105%;
}

#global-nav {
    font-size: 80%;
    margin: 5px 10px 0;
    padding: 0;
    text-align: right;

    li {
        display: inline;
        list-style: none;

        a {
            padding-left: 0.5em;
        }
    }
}

#header {
    background-color: $dark-green;
    padding-top: 1.5em;

    h1 {
        color: white;
        margin: 0 0 0.5em 10px;
    }
}

#footer {
    background-color: $dark-gray;
    color: white;
    font-size: 90%;
    padding: 1em 0.5em;
    text-align: center;
}

#tabs {
    line-height: 1.2;
    margin-left: 10px;
    padding-top: 1em;

    ul {
        font-size: 90%;
        margin: 0;
        padding-bottom: 0.3em;
    }

    li {
        border: 1px 1px 0px 1px solid black;
        display: inline;
        list-style: none;
        margin-right: 0.3em;

        a {
            background-color: $light-green;
            color: black;
            font-weight: bold;
            padding: 0.3em 1em;
            text-decoration: none;
            vertical-align: middle;
            @include rounded-corners-top(6px);
        }

        a:hover {
            background-color: $orange;
            color: white;
        }
    }

    li.selected {
        a {
            background-color: white;
            color: $dark-green;
            padding: 0.5em 1.2em;
        }

        a:hover {
            background-color: white;
            color: $dark-green;
        }
    }

    /* This makes sure that the header is the same height with our without tabs */
    li.invisible {
        border: 1px 1px 0px 1px solid $dark-green;
        padding: 0.3em 1em;
    }
}

#local-nav {
    border-bottom: 1px solid $medium-gray;
    padding-bottom: 0.2em;
    margin-bottom: 1em;

    ul {
        font-size: 90%;
        margin: 0;
    }

    li {
        display: inline;
        list-style: none;
        margin-right: 0.5em;

        a {
            color: $dark-gray;
        }
    }

    li.selected {
        a {
            color: black;
            text-decoration: none;
        }
    }
}

#messages {
    background-color: $light-yellow;
    font-size: 90%;
}

#content {
    background-color: white;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 8px;
}

#content.no-side-nav {
    margin-right: 10px;
}

#sidebar-content {
    margin: 0.5em 0 0 1em;

    #add-contacts {
        margin-left: 0;
        padding-left: 0;

        li {
            list-style: none;
            margin-bottom: 0.2em;
        }
    }

    .associated-content {
        h2 {
            background-color: $light-green;
            margin: 0.5em 0 0.5em -7px;
            padding: 0.2em 0 0.2em 7px;
        }
    }
}

ul.tags-list {
    display: inline;
    margin: 0;

    li {
        display: inline;
        margin-right: 0.2em;
    }

    a.tag-link {
        padding-left: 20px;
        background-image: url(/images/icons/tag.png);
        background-position: 1px center;
        background-repeat: no-repeat;
    }

    a.email-tag-link {
        padding-left: 20px;
        background-image: url(/images/icons/email.png);
        background-position: 1px center;
        background-repeat: no-repeat;
    }
}

#tags {
    h2 {
        margin: 0 0 0.5em 0;
    }

    p {
        margin: 0.5em 0 0.2em 0;
    }

    form {
        font-size: 85%;
    }
}

#summary {
    margin-bottom: 0.5em;

    h1 {
        color: $brown;
        margin: 0;
        padding: 0.3em 0;
    }

    a.action-button {
        float: right;
        margin-right: 1em;
    }
}

#detail-view {
    #contact-image {
        float: left;
        margin-right: 1em;
    }

    h2 {
        color: $dark-gray;
        margin-bottom: 0.2em;
    }

    h3 {
        color: $medium-gray;
    }

    p {
       margin-bottom: 0.5em;
    }

    ul {
        margin: 0 1em 0 2em;
    }

    li.preferred {
        font-weight: bold;

        address {
            font-weight: bold;
        }
    }
    
    .note {
        font-weight: normal;
        font-style: italic;
    }

    div.contact-custom-field {
        margin-bottom: 0.5em;

        span.label {
            font-weight: bold;
            margin-right: 0.5em;
        }
    }
}

div.label-and-value {
    padding-bottom: 1em;

    .label {
        background-color: $light-gray;
        font-weight: bold;

        span {
            margin-left: 1em;
        }
    }

    .value {
        background-color: $light-yellow;

        span {
            margin-left: 1em;
        }
    }
}

/* === Tables === */

table {
    th,td {
        vertical-align: top;
    }
}

table.standard-table {
    width: 100%;
    border: 1px solid $medium-gray;

    th, td {
        border: none;
    }

    td {
        padding: 0.2em 0.5em;
    }

    thead tr {
        background-color: $dark-gray;
        color: white;
    }

    tbody:hover tr {
        background-color: $super-light-green;
    }

    th {
        text-align: left;

        a.sort-link {
            color: white;
            text-decoration: none;

            img {
                margin-bottom: -3px;
            }
        }
    }

    tr.even {
        background-color: $light-gray - #111;
    }

    tr.odd {
        background-color: white;
    }

    tr.note {
        padding-top: 0;

        td {
            padding-top: 0;

            p {
                font-size: 90%;
            }
        }
    }
}

div.search-description {
    ul {
        margin-top: 0;
        margin-bottom: 0;
    }

    margin-bottom: 1em;
}

table.search-results {
    font-size: 80%;

    tr.pager {
        th {
            background-color: white;
            color: black;
            font-weight: normal;
        }
    }

    tr.headings {
        th {
            white-space: nowrap;
        }
    }

    td.icon {
        img {
            margin-top: 0.2em;
        }
    }

    td.activity {
        ul {
            font-size: 90%;
            margin: 0 0 0 1em;

            p {
                margin: 0;
            }
        }
    }
}

/* === Forms === */

form {
    fieldset {
        background-color: $super-light-green;
        border-top: 1px solid $medium-green;
        margin-right: 2em;
        padding: 0.5em 0.2em;
        padding-bottom: 1em;

        legend {
            background-color: $medium-green;
            color: white;
            font-weight: bold;
            margin-left: 0.4em;
            padding: 0.4em;
            text-shadow: 1px 1px #666;
            @include rounded-corners-top(6px);
        }
    }

    fieldset.last {
        padding-bottom: 0;
    }

    div.form-error {
        border: 1px solid black;
        margin: 0.3em 2em 1em 0;
        padding: 0.3em;

        p {
            margin: 0.1em 0;
        }
    }

    div.form-error, form div.error {
        background-color: $error-orange;
    }

    div.error {
        background-color: $error-orange;

        p.error-message {
            margin-bottom: 0.1em;

            span {
                font-size: 85%;
            }
        }
    }

    div.form-item { 
        padding: 0.4em;
    }

    div.repeat-group {
        border-bottom: 1px dotted $medium-gray;
    }

    /* Having the help-text div allows us to set the margin in ems, to
       match the width of the label tag. Without the div, we'd have to set
       the margin on the p tag, but this has a different font-size than
       the label, so the em size is not the same. */
    div.help-text { 
        clear: both;
        margin-top: 0.1em;
    }

    .help-text p {
        font-size: 85%;
        margin-bottom: 0em;
    }

    label {
        font-weight: bold;
    }

    .for-field {
        display: block;
    }

    label.secondary {
        display: block;
        font-weight: normal;
    }

    input.no-label {
        display: block;
        margin-bottom: 0.2em;
    }

    label.for-radio {
        color: $dark-gray;
        margin-right: 0.5em;
    }

    label.for-checkbox {
        font-weight: normal;
    }

    label.selected {
        color: black;
    }

    span.required {
        font-weight: bold;
    }

    input.checkbox {
        margin-top: 0.2em;
    }

    a.add-another {
        font-size: 90%;
        padding-left: 0.4em;
    }

    input.text,
    input.file,
    textarea,
    select {
        border: 1px solid $dark-green;
        color: $dark-green;
        font-weight: bold;
        margin-top: -0.1em;
        padding: 0.2em;
    }

    span.text-for-hidden {
        font-weight: bold;
        color: $dark-green;
    }

    input.error,
    textarea.error,
    select.error,
    p.error {
        background-color: #FFCC66;
    }

    input.disabled,
    textarea.disabled,
    select.disabled {
        background-color: $light-gray;
        border-color: $dark-gray;
    }

    input.text:focus,
    textarea:focus,
    select:focus {
        background-color: $light-yellow;
        border-color: black;
    }

    input.date {
        background-image: url(/images/icons/calendar.png);
        background-position: right center;
        background-repeat: no-repeat;
        padding-right: 5px;
    }

    input.narrow {
        width: 7em;
    }

    input.medium {
        width: 18em;
    }

    input.wide, textarea.wide {
        width: 30em;
    }

    textarea {
        height: 7em;
    }

    textarea.short {
        height: 3.7em;
    }

    textarea.tall {
        height: 10em;
    }

    dl#participants  {
        margin: 0.5em 0 0.5em 0.5em;

        table {
            margin-top: 0.2em;
        }
    }

    #participant-resolution {
        td.participant-checkbox {
            width: 7%;
        }

        td.participant-name {
            width: 43%;
        }

        td.participant-email {
            width: 43%;
        }

        td.participant-view {
            width: 7%;
        }
    }
}

div.horizontal-form {
    div {
        vertical-align: bottom;
    }
}

.ajax-search-empty {
    margin-top: 0.5em;
}

.ajax-search-results {
    background-color: lightyellow;
    border: 1px solid black;
    margin: 0.5em 10em 0 0;
    padding: 0.5em;
}

.ajax-search-results-close {
    text-align: right;
}

.ajax-search-results-table,
.ajax-search-selected-table {
    border: none;
    margin-bottom: 0;
}

.ajax-search-selected-table {
    background-color: $light-yellow;
    margin-top: 0.5em;
}

.ajax-search-results-table td,
.ajax-search-results-table th,
.ajax-search-selected-table td,
.ajax-search-selected-table th {
    border: none;
    text-align: left;
}

.ajax-search-results-table td.name,
.ajax-search-selected-table td.name {
    width: 10em;
}

#member-search-results-table td.position,
#member-search-selected-table td.position {
    width: 12em;
}

.ajax-search-results-table td.button,
.ajax-search-selected-table td.button {
    width: 7em;
}

form.inline {
    display: inline;
}

form.inline input.submit {
    margin-top: 0.1em;
}

div.custom-field {
    margin-bottom: 0.5em;
}

.action-button {
    @include gradient( $medium-green, $dark-green, 25%, 100% );
    border-top: 1px solid $medium-green-border-light;
    border-right: 2px solid $medium-green-border-dark;
    border-bottom: 2px solid $medium-green-border-dark;
    border-left: 1px solid $medium-green-border-light;
    color: white;
    font-weight: bold;
    padding: 0.4em;
    @include rounded-corners-both(6px);
    text-decoration: none;
}

.action-button-small {
    @extend .action-button;
    font-size: 80%;
    padding: 0.2em 0.4em;
}

.action-button:hover {
    background: $orange;
    border-top: 1px solid $orange-border-light;
    border-right: 2px solid $orange-border-dark;
    border-bottom: 2px solid $orange-border-dark;
    border-left: 1px solid $orange-border-light;
}

a.action-button {
    display: inline-block;
    vertical-align: center;
}

form.inline {
    .action-button {
        display: inline-block;
        /* This overrides the YUI setting, which explicitly sets both body and form
           element fonts */
        font-family: Verdana, Arial, sans-serif;
     }
}